@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
    background: linear-gradient(to right, #f5e6f48a, #edacfa8f)
}

.container {
    border: 1px solid black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, #b6f8f8cb, #b3f8f23b);
    border-radius: 20px;
    margin-top: 150px;
    padding: 50px;

}

.header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.header-form {
    width: 140px;
}

.flex {
    display: flex;
}

.form {
    width: 500px;
}

.form-input {
    margin-bottom: 10px;

}

input {
    border-radius: 5px;
}

input.form {
    border: 1px solid black;
    height: 30px;
}

textarea {
    width: 690px;
    height: 100px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.button {
    border-radius: 20px;
    margin-top: 20px;
    width: 30%;
    height: 40px;
    cursor: pointer;
}
.message {
    margin-bottom: 20px;
    padding: 10px;
    background-color:lightgreen;
    display: none;
}
.message.success {
    background-color: lightgreen;
    display: block;
}
.message.danger {
    background-color: red;
    display: block;
}

@media (max-width: 768px) {
.flex {
    flex-direction: column;
}
.header {
    font-size: 24px;
}
.button {
    width: 100%;
}
}